
<style>

.kivaTable { 
  width: 90%; 
  margin: 10px 0px;
}

.kivaTable th { 
  text-transform: uppercase;
  background-color: #EFEFEF;
    padding: 5px;
  text-align: left;
}

.kivaTable td { 
  border-bottom: 1px #EFEFEF solid;
  padding: 5px;
  vertical-align: top;
}

.kivaTable input { 
  background-color: #FFF; 
  width: 80px; 
}

.selected { 
  background-color: #CCFF99 !important;
}

.selected input { 
  border:1px solid red;
}

.message { 
  padding: 5px;
  margin-left: 20px;
  float: left ;
}

.kivatableHolder {

  margin-top: 10px;
}
</style>

<input type="button" style="float: left" value="Submit Loan Pledges" class="savebutton">
<span class="message"></span>
<br>
<div class="kivatableHolder">lklklkj<div>
