
<td <% if (className) { %>class="selected"<% } %>><%= id %></td>
<td <% if (className) { %>class="selected"<% } %>><%= name %></td>
<td <% if (className) { %>class="selected"<% } %>>
  <%= activity %> - <%= use %>
</td>
<td <% if (className) { %>class="selected"<% } %>><%= status %></td>
<td <% if (className) { %>class="selected"<% } %>>$<%= loan_amount %></td>
<td <% if (className) { %>class="selected"<% } %>>
  <% if (town) {%><%= town %>,<br><% } %><%= country %>
</td>
<td <% if (className) { %>class="selected"<% } %>>
  <input type="text" value="<%= pledge %>" name="">
</td>


