
<div class="demo hero-unit" style="display: none">
<p>
  <center>
  <iframe width="700" height="415" src="http://www.youtube.com/embed/4vvWk1VYnkY" frameborder="0" allowfullscreen></iframe>
</center>
</p>


</div>

<div class="notes hero-unit" style="display: none">
<h1>My Code Notes</h1>
<br>

<p>
This project was built using a bit of twitter bootstrap and the Backbone Boilerplate project. <a href="https://github.com/tbranyen/backbone-boilerplate">Github Project</a>. Special thanks to the boCoup team and the project maintainers. In the past few months the project has continued to evolve and grow.  
</p>

<p>
<b>Kiva Loan Data</b> - Per the Cloudspokes instructions, the code uses a JSON API on the <a href="http://api.kivaws.org/v1/loans/newest.json" target="_blank">Kiva API</a> to supply loan data. This data changes over time as kiva loans and projects develop, so the data visible on this code will change as well.
</p>

<p>
<b>Requestb.in</b> - The 'Save Load Pledges' feature uses the requestb.in to dump the users selected loans and pledge amounts. To see the state of the bin, us the following link. <a href="http://requestb.in/1i9g7vo1?inspect" target="_blank">http://requestb.in/1i9g7vo1?inspect</a>.
</p>

<p>
<b>Experimental</b> - The code in this submission uses the Layout Manager for Backbone. It is one of many layout/template solutions for backbone. It offers some interesting features for grouping views into modules within the router. The challenge of rending an HTML table with backbone and the layout manager is visible in the way the views handle the table header. I welcome any feedback on how to better handle this. 
</p>

<p>
<i>
<b>Whats missing?</b> - Lots of small stuff, If the kiva API is down, the app
really should fail with some type of UI message. The use of the twitter bootstrap 
code, while included and used, it not a full implementation. Getting it to work with
the backbone and jquery libraries would be nice. Finally the use of the collection 
sort after each change to a models, i.e. pledge amount, seems a little heavy handed. 
</i>

<h2>Stephan Smith</h2>
  twitter: <a href="https://twitter.com/#!/d1b1ish" target="_blank">d1b1ish</a>
  github: <a href="http://blog.happypath.ws/" target="_blank">d1b1</a>
  email: Stephan.Smith.BC93@Gmail.com
  linkedin: <a href="http://www.linkedin.com/in/stephansmithbc93" target="_blank">linkedin</a>
</div>