
       <table class="table">
           <tr>
              <th>Loan</th>
              <th>Name</th>
              <th>Status</th>
              <th>Amount</th>
              <th>Country</th>
              <th>Pledge</th>
            </tr>
            <tr>
              <td>3928423 </td>
              <td>John Doe</td>
              <td>Status</td>
              <td>Amount</td>
              <td>Country</td>
              <td><input type="text" value=""></td>
            </tr>
            <tr>
              <td>3928423 </td>
              <td>John Doe</td>
              <td>Status</td>
              <td>Amount</td>
              <td>Country</td>
              <td><input type="text" value=""></td>
            </tr>
            <tr>
              <td>3928423 </td>
              <td>John Doe</td>
              <td>Status</td>
              <td>Amount</td>
              <td>Country</td>
              <td><input type="text" value=""></td>
            </tr>
            <tr>
              <td>3928423 </td>
              <td>John Doe</td>
              <td>Fundraising</td>
              <td>Amount</td>
              <td>Country</td>
              <td><input type="text" value=""></td>
            </tr>
            <tr>
              <td>3928423 </td>
              <td>John Doe</td>
              <td>Status</td>
              <td>Amount</td>
              <td>Country</td>
              <td><input type="text" value=""></td>
            </tr>
        </table>
